---

---

<section class="card-nav">
  <slot />
</section>

<style>
  .card-nav {
    width: 100%;
    background-color: var(--bg-dark--card);
    border-radius: var(--border-radius--card);
    padding: var(--padding--card);
  }
</style>
