---

---

<main id="main" class="content z-20 relative">
  <div
    id="bg-gradiant--content"
    class="h-[21rem] bg-gradient-to-t from-black to-cyan-700 z-30 rounded-[var(--border-radius--card)] absolute transition-colors w-full"
  >
  </div>
</main>

<script>
  const main = document.querySelector("#main");
  const bgGradiantContent = document.getElementById("#bg-gradiant--content");

  let hexColor;

  //random hexcolor
  const randomHexColor = () => {
    hexColor = Math.floor(Math.random() * 16777215).toString(16);
    
    hexColor = "#" + hexColor;
    return hexColor;
  };

  main?.addEventListener("onmouseover", () => {
    bgGradiantContent?.style("background-color", randomHexColor());
  });

  main?.addEventListener("onmouseout", () => {
    bgGradiantContent?.classList.remove("bg-[var(--bg-color-gradient)]");
    console.log("go?");
  });
</script>

<style>
  .content {
    width: 100%;
    background-color: var(--bg-dark--card);
    border-radius: var(--border-radius--card);
  }
</style>
